<%= render 'layouts/header' %>

<section class="home">
  <div class="container dashboard-index" style="height: 100%">
  <h2 class="menu-name" style="margin-top:10px;">Historial</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Fecha y hora</th>
          <th>Tabla</th>
          <th>Total</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <% @deleted_orders.each do |order| %>
          <tr>
          <td><h6><%= order.created_at.strftime("%Y-%m-%d %H:%M") %></h6></td>
          <td><h6>1</h6></td>
          <td><h6 class=""><%= number_to_currency(order.total_price, precision: 2, unit: '€') %></h6></td>
          <td>
            <h6>Pagado</h6>
          </td>
        </tr>
        
        <% end %>
      </tbody>
    </table>
  </div>
</section>
