<%= render 'layouts/header' %>

<section class="home" style="height: 100%">
    <div class="container">
        <h1>Bienvenido a <%= @restaurant.name %></h1>
        <div class="row">
            <div class="col-md-4">
                <div class="profit-box">
                    <h2>Ingresos del día</h2>
                    <h3><%= number_to_currency(@revenue_today) %></h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profit-box">
                    <h2>Ingresos del mes</h2>
                    <h3><%= number_to_currency(@revenue_month) %></h3>
                </div>
            </div>
        </div>      
    </div>
</section>

