<%= render 'layouts/header_welcome' %>

<div class="container terms">
<div class="col-md-12">
<h4>Política de Privacidad:</h4>

<h5>Introducción</h5>
<p>
  ¡Bienvenido/a a Bamboo! Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información proporcionada por los usuarios de nuestra aplicación web. Al utilizar Bamboo, aceptas los términos y prácticas descritas en esta Política de Privacidad.
</p>
</div>
</div>

<%= render 'layouts/footer' %>
