<%= render 'layouts/header_welcome' %>

<div class="container terms">
<div class="col-md-12">
<h3>Política de Privacidad:</h3>

<h4>Introducción</h4>
<p>
  ¡Bienvenido/a a Bamboo! Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información proporcionada por los usuarios de nuestra aplicación web. Al utilizar Bamboo, aceptas los términos y prácticas descritas en esta Política de Privacidad.
</p>

<h4>Información Recopilada</h4>
<p>
  Cuando los usuarios se registran en Bamboo, podemos recopilar información personal como nombre, dirección de correo electrónico y detalles de contacto. Además, al procesar pedidos, es posible que recopilemos información de pago, como detalles de tarjetas de crédito/débito. Ten la seguridad de que esta información de pago se maneja de forma segura a través de nuestra pasarela de pago de terceros de confianza.
</p>

<h4>Uso y Propósito de los Datos</h4>
<p>
  La información recopilada de los usuarios se utiliza principalmente para facilitar pedidos en restaurantes y procesar pagos de manera segura. También nos ayuda a proporcionar soporte al cliente, optimizar nuestros servicios y mejorar la experiencia del usuario en nuestra plataforma.
</p>

<h4>Compartir con Terceros</h4>
<p>
  Podemos compartir datos necesarios con proveedores de servicios de terceros, estrictamente con el propósito de procesar pedidos, pagos y brindar soporte al cliente. Ten la seguridad de que no venderemos, intercambiaremos ni transferiremos tu información a terceros sin tu consentimiento explícito, excepto cuando lo requiera la ley.
</p>

<h4>Seguridad de los Datos</h4>
<p>
  Nos tomamos en serio la seguridad de los datos e implementamos medidas razonables para proteger la información de los usuarios contra accesos, divulgaciones o alteraciones no autorizados.
</p>

<h4>Retención de los Datos</h4>
<p>
  Conservaremos la información personal de los usuarios durante el tiempo necesario para cumplir con los propósitos descritos en esta Política de Privacidad o según lo requiera la ley.
</p>

<h4>Derechos del Usuario</h4>
<p>
  Como usuario/a de Bamboo, tienes derecho a acceder, corregir, eliminar o restringir tus datos personales. Si deseas ejercer alguno de estos derechos, contáctanos.
</p>

<h4>Cookies y Tecnologías Similares</h4>
<p>
  Bamboo puede utilizar cookies y tecnologías similares para mejorar la experiencia del usuario y recopilar datos sobre las interacciones de los usuarios en nuestra plataforma. Los usuarios pueden gestionar sus preferencias de cookies a través de la configuración de su navegador web.
</p>

<h4>Cambios en la Política</h4>
<p>
  Podemos actualizar esta Política de Privacidad periódicamente para reflejar cambios en nuestras prácticas o leyes aplicables. Los usuarios serán notificados de cambios significativos por correo electrónico o avisos prominentes en nuestro sitio web.
</p>

<h4>Información de Contacto</h4>
<p>
  Para cualquier pregunta o inquietud relacionada con esta Política de Privacidad o tus datos, contáctanos en:
</p>
<p>
  contact@bamboo.com<br>
  +34610088557
</p>

<h4>Cláusula de Comisión</h4>
<p>
  Los restaurantes que usen Bamboo pagarán una comisión del 1.5% sobre el monto total del pedido por cada pedido exitoso realizado a través de la aplicación utilizando un método de pago con tarjeta.
</p>
<p>
  Stripe es una plataforma de procesamiento de pagos en línea que permite a los negocios aceptar pagos a través de tarjetas de crédito y débito, así como otros métodos de pago electrónicos. Al utilizar Stripe, los restaurantes pueden ofrecer a sus clientes una forma segura y conveniente de pagar sus pedidos a través de la aplicación Bamboo.
</p>
<p>
  Los restaurantes que usen Bamboo y opten por procesar pagos a través de Stripe, estarán sujetos a una comisión de Stripe. Esta comisión será del 1.5% + €0.25 sobre el monto total del pedido por cada pedido exitoso realizado a través de la aplicación utilizando un método de pago con tarjeta. Tanto la comisión del 1.5% de Bamboo como la comisión de Stripe se aplicarán de manera acumulativa, lo que resultará en una comisión total del 3% + €0.25 por cada pedido exitoso.
</p>
<p>
  Es importante tener en cuenta que las tarifas de comisión están sujetas a cambios según los términos y condiciones de Stripe. Por favor, asegúrese de revisar regularmente cualquier actualización en las tarifas de comisión de Stripe.
</p>
</div>
</div>

<%= render 'layouts/footer' %>
