<section class="jumbotron jumbotron-bg text-center">
    <h1 class="display-4">La forma de pago más rápida</h1>
    <p class="lead">tus clientes pueden ver el menú y pagar la cuenta en 10 segundos</p>
    <%= link_to 'solicita una demo', new_restaurant_registration_path, class: 'btn btn-primary btn-lg' %>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4></h4>
        <p class="description-qr"></p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>1. Escanear el código QR</h5>
      </div>
      <div class="col-md-4">
        <h5>2. Ver el menú y hacer el pedido</h5>
      </div>
      <div class="col-md-4">
        <h5>3. Eligir un método de pago y pagar</h5>
      </div>
    </div>
  </div>

  
