<%= render 'layouts/header' %>

<section class="home" style="height: 100%; padding-top: 80px">
    <div class="container">
        <%= link_to restaurant_dashboard_menu_path(@restaurant), class: 'btn btn-primary btn-margin-bottom' do %>
            <%= content_tag :i, '', class: 'bx bx-arrow-back' %>
        <% end %>
        <h1>Nueva comida</h1>
        <%= render 'form', food_item: @food_item %>
    </div>
</section>