/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

 // Custom Navbar Styles

// Change the background color of the navbar
.navbar {
    background-color: #ffffff !important;
}

.navbar-brand {
    color:rgb(128, 0, 255) !important;
    font-weight: bold;
}

.navbar-brand:hover {
    background: none;
    color:rgb(128, 0, 255);
    font-weight: bold;
}
  
  // Change the color of the navbar links
  .navbar-nav .nav-link {
    color: #333;
    font-size: 20px;
    font-weight: bold;
  }
  
  // Change the hover color of the navbar links
  .navbar-nav .nav-link:hover {
    color:rgb(128, 0, 255);
    font-size: 20px;
    font-weight: bold;
    background: none;
  }

  .ml-auto {
    margin-left: auto;
  }
  
  // Change the active link color
  .navbar-nav .nav-link.active {
    color: #007bff;
  }
  
  // Change the color of the toggler icon
  .navbar-toggler-icon {
    color: #333;
  }
  
  // Change the hover color of the toggler icon
  .navbar-toggler:hover .navbar-toggler-icon {
    color: #555;
  }
  
  // Increase the padding between navbar links
  .navbar-nav {
    .nav-item {
      margin-right: 30px;
      .btn-primary {
        font-size: 14px;
        background-color: rgb(128, 0, 255);
        border-color: rgb(128, 0, 255);
        color: #ffffff;
        &:hover {
          background-color: #ffffff;
          border-color: rgb(128, 0, 255);
          color: rgb(128, 0, 255);
        }
      }
    }
  }
  
  // Add a box shadow to the navbar
  .navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
  }
  
  // Change the height of the navbar
  .navbar {
    min-height: 60px;
  }

  
// Jumbotron Styles
.jumbotron {
    background-color: #f8f9fa;
    padding-top: 100px;
    margin-bottom: 50px;
    h1 {
      color: #ffffff;
      font-weight: bold;
    }
    p {
      color: #fff;
    }
    .btn-primary {
      background-color: rgb(128, 0, 255);
      border-color: rgb(128, 0, 255);
      color: #ffffff;
      &:hover {
        background-color: #ffffff;
        border-color: rgb(128, 0, 255);
        color: rgb(128, 0, 255);
      }
    }
  }

  .jumbotron-bg {
    background-image: url("jumb.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 550px;
  }

  
  
  // Features Section Styles
  .container {
    .col-md-4 {
     text-align: center;
      h5 {
        margin-top: 20px;
        margin-bottom: 40px;
        color: #333;
      }
      p {
        color: #777;
      }
    }
  }
  
  // Footer Styles
  footer {
    background-color: #ffffff;
    color: #777;
  }

  .scan-image {
    height: 140px;
    width: 140px;
    margin-top: 60px;
  }

  .description-qr {
    font-size: 18px;
    margin-bottom: 70px;
  }

  .btn-primary {
    background-color: rgb(128, 0, 255);
    border-color: rgb(128, 0, 255);
    color: #ffffff !important;
    font-size: 25px;
    &:hover {
      background-color: #ffffff;
      border-color: rgb(128, 0, 255);
      color: rgb(128, 0, 255) !important;
    }
  }

  .btn-danger {
    font-size: 25px;
    &:hover {
      border-color: #dc3545;
      background-color: white !important;
      color: #dc3545 !important;
    }
  }

  .restaurant-demo-btn {
    margin-top: 15px;
  }

  .restaurant-show-page {
    margin-top: 30px;
    padding-bottom: 200px;
    label {
      font-size: 25px;
    }
  }

  .qr-code {
    width: 70px;
    height: 70px;
  }

  .download-qr-code {
    margin-bottom: 10px;
  }

  .tables-margin-top {
    margin-top: 20px;
  }

  .section_padding_130 {
      padding-top: 130px;
      padding-bottom: 130px;
  }
  .faq_area {
      position: relative;
      z-index: 1;
      background-color: #f5f5ff;
  }
  
  .faq-accordian {
      position: relative;
      z-index: 1;
  }
  .faq-accordian .card {
      position: relative;
      z-index: 1;
      margin-bottom: 1.5rem;
  }
  .faq-accordian .card:last-child {
      margin-bottom: 0;
  }
  .faq-accordian .card .card-header {
      background-color: #ffffff;
      padding: 0;
      border-bottom-color: #ebebeb;
  }
  .faq-accordian .card .card-header h6 {
      cursor: pointer;
      padding: 1.75rem 2rem;
      color: #3f43fd;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
  }
  .faq-accordian .card .card-header h6 span {
      font-size: 1.5rem;
  }
  .faq-accordian .card .card-header h6.collapsed {
      color: #070a57;
  }
  .faq-accordian .card .card-header h6.collapsed span {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
  }
  .faq-accordian .card .card-body {
      padding: 1.75rem 2rem;
  }
  .faq-accordian .card .card-body p:last-child {
      margin-bottom: 0;
  }
  
  @media only screen and (max-width: 575px) {
      .support-button p {
          font-size: 14px;
      }
  }
  
  .support-button i {
      color: #3f43fd;
      font-size: 1.25rem;
  }
  @media only screen and (max-width: 575px) {
      .support-button i {
          font-size: 1rem;
      }
  }
  
  .support-button a {
      text-transform: capitalize;
      color: #2ecc71;
  }
  @media only screen and (max-width: 575px) {
      .support-button a {
          font-size: 13px;
      }
  }

  .demo-form {
    .form-control {
      line-height: 2.5;
      border-radius: 0%;
    }
  }

  .menu-image {
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .special-menu-image {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .special-menu-show-image {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .menu-item {
    text-align: center;
  }

.menu-name {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.special-menu-container {
  position: relative;
  border-radius: 5%;
  border: 1px solid #e7e7e7;
  margin-bottom: 15px;
  padding: 10px;
  .special-menu-name {
    margin-top: 20px;
    font-size: 30px;
  }
  .menu-price {
    font-size: 30px;
  }
  .form-control {
    font-size: 25px;
  }
  &:hover {
    cursor: pointer;
  }
}

.food-item-container{
  position: relative;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  padding: 10px;
  margin-bottom: 10px;
  h6 {
    font-size: 30px !important;
    margin-top: 25px;
  }
  input {
    margin-top: 15px;
  }
  &:hover {
    cursor: pointer;
  }   
}

.food-item-dashboard {
  border-radius: 5%;
  border: 1px solid #e7e7e7;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 20px !important;
  h6 {
    font-size: 20px !important;
  }
  &:hover {
    cursor: pointer;
  }   
}

#card-element {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Customize error message */
#card-errors {
  color: red;
  margin-top: 10px;
}

.navbar-brand {
  img {
    height: 50px;
    width: 50px;
  }
}

body {
  padding-top: 70px;
  font-family: 'Roboto Mono', monospace !important;
}

.remove-from-cart-link {
  color:rgb(0, 0, 0);
  &:hover {
    color:rgb(0, 0, 0);
  }
}

.delete-img {
  &:hover {
    background: transparent;
  }

  img {
  width: 20px;
  height: 20px;}
}

.btn-margin-top {
  margin-top: 10px;
}

.btn-margin-bottom {
  margin-bottom: 10px;
}

.btn-dashboard {
  font-size: 10px !important;
  color: #fff !important;
}

.btn-dashboard2 {
  font-size: 15px;
  color: #fff !important;
}

.pink {
  color: rgb(128, 0, 255);
}

.bold {
  font-weight: bold;
}

.order-food-item {
  font-size: 16px;
}

.pedido-special-menu {
  background-color: rgb(128, 0, 255);
  color: white;
  padding: 3px;
  border-radius: 5px;
  line-height: 2.5;
  margin-right: 5px;
}

.clear-cart{
  color: #fff !important;
}

.dashboard-index-margin {
  margin-top: 40px;
}

.dashboard-title-margin {
  margin-bottom: 25px;
}

.dashboard-index {
  padding-bottom: 80px;
}

.custom-fixed-nav-tabs {
  background: transparent; /* Add background color to match your design */
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center !important;
}

.custom-fixed-nav-tabs .nav-link {
  color: #fff;
  border: none;
  font-size: 30px;
  line-height: 2.5rem;
}

.custom-fixed-nav-tabs .nav-link.active {
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #8000ff;
  background-color: #8000ff;
}

.special-menus {
  margin-bottom: 40px;
}

.admin-restaurants {
  font-size: 15px;
}

.remove-cart-item {
  color: #fff !important;
}

.remove_special_menu {
  color: #fff !important; 
}

.cart-buttons-wrapper {
  margin-bottom: 10px;
  display: inline;
  a {
    display: inline;
  }
  form {
    display: inline;
  }
}

.payment-option {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.payment-option.selected {
  border: 3px solid rgb(128, 0, 255);
  background-color: rgb(128, 0, 255);
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

.simple-format-description {
  font-family: 'Roboto Mono', monospace;
}

.carta-link {
  border: 2px solid #555;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff !important;
  font-size: 30px;
  &:hover {
    color:rgb(128, 0, 255) !important;
    font-size: 30px;
    background: none;
  }
}

.terms {
  margin-top: 40px;
  p {
    font-family: 'Roboto Mono', monospace;
  }
}

.terms-link{
  background-color: transparent;
  text-decoration: none;
  &:hover {
    background-color: transparent;
  }
}

.restaurant-show-image {
  width: 150px;
  height: 150px;
  padding: 15px;
  border-radius: 50%;
  border: 5px solid #333;
}

.food-item-carousel-image {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.carousel-control-prev, .carousel-control-next {
  font-size: 16px; /* Adjust the font size as needed */
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and opacity as needed */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  /* Adjust the arrow icon size as needed */
  width: 20px;
  height: 20px;
}

/* Adjust the position of the carousel arrows */
.carousel-control-prev {
  left: -45px; /* Adjust the left position as needed */
}

.carousel-control-next {
  right: -45px; /* Adjust the right position as needed */
}

#cart-item-count {
  background-color: rgb(128, 0, 255);
  padding: 10px;
  font-size: 20px;
  border-radius: 100%;
  color: #fff;
}

.food-item-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.category-name {
  font-size: 30px !important;
  font-weight: bold;
  margin-top: 10px;
}

.navbar-customer {
  height: 170px;
  background-color: rgb(128, 0, 255) !important;
  color: #fff !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  p {
    font-size: 35px;
  }
}

.cart-img {
  min-height: 100px !important;
  min-width: 100px !important;
}

@media (max-width: 767px) {
  .modal-dialog {
    max-width: 85%;
    margin: 1.75rem auto;
    max-height: 80vh;
  }
}

.modal-dialog-edit {
  max-width: 85%;
  margin: 1.75rem auto;
  max-height: 80vh;
}

.modal-dialog-food {
  max-width: 70%;
  margin: 1.75rem auto;
}


.modal-content {
  max-height: 100%;
  overflow-y: auto;
  background-color: black !important;
  color: #fff !important;
  font-size: 25px !important;
  #foodItemImageContainer {
    height: 100%;
  }
}

.modal-food {
  border: 1px solid#e7e7e7;
  border-radius: 20px;
}

.modal {
  font-size: 25px !important;
  a, button {
    font-size: 35px !important;
  }
  .btn-danger {
    font-size: 32px !important;
  }
  h1, h2, h5 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 25px !important;
  }
  p {
    font-size: 20px !important;
  }
}

@media (min-width: 768px){
.client-container {
    max-width: 900px !important;
}
}

#paymentMethodModal {
  font-size: 30px !important;
  h6 {
    font-size: 30px !important;
    margin-bottom: 20px;
  }
}

.new-order-view {
  margin-top: 120px;
  padding-bottom: 70px;
  font-size: 25px !important;
  a, button {
    font-size: 30px !important;
  }
  h1, h2, h6 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 30px !important;
  }
  p {
    font-size: 20px !important;
  }
}

.new-order-modal {
  font-size: 25px !important;
  a, button {
    font-size: 35px !important;
  }
  h1, h2, h6, h5 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 30px !important;
  }
  p {
    font-size: 20px !important;
  }
}

.show-add-btn {
  font-size: 30px;
}

/* Move the carousel controls inside the carousel items */
.carousel-item {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}


.bx-info-circle {
  &:hover {
    color:rgb(128, 0, 255);
  }
}

.move-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 15px;
}

.menu-item-name {
  font-weight: bold;
  font-size: 30px;
}

.non-bold-icon {
  font-weight: normal !important;
}

.restaurant-image {
  max-height: 300px;
  min-height: 300px;
  margin-bottom: 100px;
}

.restaurant-name {
  font-size: 45px;
}

.food-item-popup-image {
  width: 244px;
  height: 244px;
  border-radius: 10px;
}