/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

 // Custom Navbar Styles

// Change the background color of the navbar
.navbar {
    background-color: #f8f9fa;
}

.navbar-brand {
    color:rgb(128, 0, 255) !important;
    font-weight: bold;
}

.navbar-brand:hover {
    background: none;
    color:rgb(128, 0, 255);
    font-weight: bold;
}
  
  // Change the color of the navbar links
  .navbar-nav .nav-link {
    color: #333;
    font-size: 14px;
  }
  
  // Change the hover color of the navbar links
  .navbar-nav .nav-link:hover {
    color:rgb(128, 0, 255);
    font-size: 14px;
    background: none;
  }

  .ml-auto {
    margin-left: auto;
  }
  
  // Change the active link color
  .navbar-nav .nav-link.active {
    color: #007bff;
  }
  
  // Change the color of the toggler icon
  .navbar-toggler-icon {
    color: #333;
  }
  
  // Change the hover color of the toggler icon
  .navbar-toggler:hover .navbar-toggler-icon {
    color: #555;
  }
  
  // Increase the padding between navbar links
  .navbar-nav {
    .nav-item {
      margin-right: 10px;
      .btn-primary {
        font-size: 14px;
        background-color: rgb(128, 0, 255);
        border-color: rgb(128, 0, 255);
        color: #ffffff;
        &:hover {
          background-color: #ffffff;
          border-color: rgb(128, 0, 255);
          color: rgb(128, 0, 255);
        }
      }
    }
  }
  
  // Add a box shadow to the navbar
  .navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
  }
  
  // Change the height of the navbar
  .navbar {
    min-height: 60px;
  }

  
// Jumbotron Styles
.jumbotron {
    background-color: #f8f9fa;
    padding-top: 100px;
    margin-bottom: 50px;
    h1 {
      color: #ffffff;
      font-weight: bold;
    }
    p {
      color: #fff;
    }
    .btn-primary {
      background-color: rgb(128, 0, 255);
      border-color: rgb(128, 0, 255);
      color: #ffffff;
      &:hover {
        background-color: #ffffff;
        border-color: rgb(128, 0, 255);
        color: rgb(128, 0, 255);
      }
    }
  }

  .jumbotron-bg {
    background-image: url("jumb.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 550px;
  }

  
  
  // Features Section Styles
  .container {
    .col-md-4 {
     text-align: center;
      h5 {
        margin-top: 20px;
        margin-bottom: 40px;
        color: #333;
      }
      p {
        color: #777;
      }
    }
  }
  
  // Footer Styles
  footer {
    margin-top: 100px;
    background-color: #ffffff;
    color: #777;
  }

  .scan-image {
    height: 140px;
    width: 140px;
  }

  .description-qr {
    font-size: 18px;
    margin-bottom: 70px;
  }


  .btn-primary {
    background-color: rgb(128, 0, 255);
    border-color: rgb(128, 0, 255);
    color: #ffffff !important;
    &:hover {
      background-color: #ffffff;
      border-color: rgb(128, 0, 255);
      color: rgb(128, 0, 255) !important;
    }
  }

  .restaurant-demo-btn {
    margin-top: 15px;
  }

  .margin-top-container {
    margin-top: 40px;
  }

  .qr-code {
    width: 70px;
    height: 70px;
  }

  .download-qr-code {
    margin-bottom: 10px;
  }

  .tables-margin-top {
    margin-top: 20px;
  }

  .section_padding_130 {
      padding-top: 130px;
      padding-bottom: 130px;
  }
  .faq_area {
      position: relative;
      z-index: 1;
      background-color: #f5f5ff;
  }
  
  .faq-accordian {
      position: relative;
      z-index: 1;
  }
  .faq-accordian .card {
      position: relative;
      z-index: 1;
      margin-bottom: 1.5rem;
  }
  .faq-accordian .card:last-child {
      margin-bottom: 0;
  }
  .faq-accordian .card .card-header {
      background-color: #ffffff;
      padding: 0;
      border-bottom-color: #ebebeb;
  }
  .faq-accordian .card .card-header h6 {
      cursor: pointer;
      padding: 1.75rem 2rem;
      color: #3f43fd;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
  }
  .faq-accordian .card .card-header h6 span {
      font-size: 1.5rem;
  }
  .faq-accordian .card .card-header h6.collapsed {
      color: #070a57;
  }
  .faq-accordian .card .card-header h6.collapsed span {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
  }
  .faq-accordian .card .card-body {
      padding: 1.75rem 2rem;
  }
  .faq-accordian .card .card-body p:last-child {
      margin-bottom: 0;
  }
  
  @media only screen and (max-width: 575px) {
      .support-button p {
          font-size: 14px;
      }
  }
  
  .support-button i {
      color: #3f43fd;
      font-size: 1.25rem;
  }
  @media only screen and (max-width: 575px) {
      .support-button i {
          font-size: 1rem;
      }
  }
  
  .support-button a {
      text-transform: capitalize;
      color: #2ecc71;
  }
  @media only screen and (max-width: 575px) {
      .support-button a {
          font-size: 13px;
      }
  }

  .demo-form {
    .form-control {
      line-height: 2.5;
      border-radius: 0%;
    }
  }

  .menu-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .menu-item {
    text-align: center;
    margin-bottom: 20px;
  }

.menu-name {
  margin-bottom: 20px;
}

.special-menu-container {
  border-radius: 5%;
  border: 1px solid #e7e7e7;
  margin-bottom: 15px;
  .special-menu-name {
    margin-top: 20px;
  }
  &:hover {
    cursor: pointer;
  }
}

.food-item-container{
  &:hover {
    cursor: pointer;
  }   
}