<nav class="navbar navbar-customer navbar-expand-lg navbar-light bg-light fixed-bottom"
    data-toggle="modal"
    data-target="#cartModal">

    <div class="navbar-nav mx-auto">
        <p>Pedido: <span id="order-total-price"><%= number_to_currency(current_cart.total_price, precision: 2, unit: '€') %></span></p>
    </div>
</nav>