<nav class="navbar navbar-customer navbar-expand-lg navbar-light bg-light fixed-top">


    <ul class="navbar-nav">
        <li class="nav-item">
        <%= link_to "CARTA", restaurant_path(@restaurant, table_number: params[:table_number]), class: 'carta-link' %>
        </li>
    </ul>


</nav>